<style>
    .intro-section {
        text-align: center;
        color: white;
        padding: 20px;
    }
    .search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .product-category {
        width: 200px;
    }
    .search-input {
        width: 300px;
        background-color: rgb(19, 23, 42);
        margin-right: 10px;
        border-color: rgba(255, 255, 255, 0.5);
        color: white;
    }
    .form-control {
        background-color: transparent;
        color: white;
    }
    .form-control::placeholder {
        color: rgba(255, 255, 255, 0.5);
        opacity: 1;
    }
    .form-control:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    .form-control::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    .product-item {
        background-color: rgb(19, 23, 42);
        border: 1px solid rgb(35, 39, 61);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <div class="intro-section">
        <h1>Day la trang Home</h1>
        <p>Trang nay hien thi danh sach cac san pham, kem anh</p>
    </div>
    <div class="search-box">
        <input type="text" class="form-control" placeholder="Tim san pham">
        <select name="" class="form-control product-category">
            <option selected disabled>Danh muc san pham</option>
            <option value="">Do dien tu</option>
            <option value="">Hai san</option>
            <option value="">Banh keo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                alt=""
                class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id autem minima minus adipisci dolorum atque aspernatur iusto rem saepe ratione in ducimus nulla quidem voluptas quisquam nisi, repudiandae, doloribus explicabo.</p>
                <p class="product-warranty">Bao hanh: 12 thang</p>
                <p class="product-price">Gia: $100</p>
            </div>
        </div>
    </div>
</div>